.navbar-link:hover, a.navbar-item:hover {
    border-top:.15rem solid #fff;
}

.navbar-link, a.navbar-item {
    border-top:.15rem solid transparent;
}

.navbar-end {
	padding-right: 80px;
}

#main {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
	min-height: 100%;
}

.avatar{
	margin:  0 auto;
	width: 200px;
	height: 200px;
	background-image: url('../img/avatar.jpg');
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#brand {
	padding-top: 20px;
	padding-bottom: 5px;
}

#contact {
	padding: 30px;
}

a.social-link {
	color: #363636;
}

ul.social-links li {
	display: inline;
	/* padding: 2px; */
}

.footer {
	padding: 1rem 1rem 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}